@model Schooldb_assign3.Models.teachers
<!-- here we don't want multiple teachers-->

@{
    ViewBag.Title = "Show";
}

<h2>Are you sure you want delete?</h2>


<div>First Name : @Model.teacherfname</div>
<div>Last Name : @Model.teacherlname</div>
<div>Teacher ID : @Model.teacherid</div>
<div>Teacher Salary: @Model.salary</div>

<form method="post" action="/Teacher/delete/@Model.teacherid">
    <input type="submit" value="Delete" style="background-color:red; color: white;" />

</form>



