@model Schooldb_assign3.Models.teachers
<!-- here we don't want multiple teachers-->

@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher Details</h2>

<div>First Name : @Model.teacherfname;</div>
<div>Last Name : @Model.teacherlname;</div>
<div>Teacher ID : @Model.teacherid;</div>
<div>Teacher Salary: @Model.salary;</div>



